/**, html, body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
} */

body {
	margin: 0 auto;
	font-family:'Roboto', sans-serif;
}

/* header & navbar */
header {
	background-color: black;
	color: white;
	margin: 0 auto;
} 
.navDiv {
	display: inline-block;
	font-size: 0.80em;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline;
	padding-right: 10px;
	text-align: left;
	font-size: 0.75em;
	font-weight: bold;
	border-right: 1px;
	border-right-color: white;
}
#bbc {
	/*color: black;
	background-color: white;*/
	padding-right: 5px;
	font-size: 1.1em;
}
a:link {
	text-decoration: none;
	color: white;
}

/* welcome to BBC.com */
#welcomeBBC {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
}

/*main*/
main {
	margin: 0 auto;
	padding: 1%;
}
#welcome-date {
	display: inline;
}

/*hero*/ 

/*subHero*/
